.form-div {
  width: 400px;
  background-color: white;
  padding-left: 20px;
  padding-top: 1px;
  padding-bottom: 25px;
  margin: auto;
  box-shadow: 1.2px 1.2px 2.2px rgba(0, 0, 0, 0.024),
    3.3px 3.3px 5.3px rgba(0, 0, 0, 0.037),
    6.7px 6.7px 10px rgba(0, 0, 0, 0.047),
    12.7px 12.7px 17.9px rgba(0, 0, 0, 0.056),
    24.8px 24.8px 33.4px rgba(0, 0, 0, 0.063),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}
.form-header {
  font-size: 20px;
}
input {
  height: 35px;
  width: 90%;
  display: block;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-left: 5px;
  border: 1px solid;
}
.form-container {
  padding-top: 10px;
}
.submit-btn {
  color: aliceblue;
  cursor: pointer;
  height: 35px;
  width: 100px;
  border: 0;
  background-image: linear-gradient(
    to right,
    rgb(90, 172, 185),
    rgb(75, 205, 147)
  );
  border-radius: 20px;
  margin-top: 10px;
}
@media screen and (max-width: 740px) {
  .form-div {
    width: 80%;
    margin-top: 10px;
  }
  input {
    height: 40px;
  }
  .form-header {
    font-size: 15px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 20px;
  }
}
