.nav-container {
  height: 55px;
  background-color: #c3ddef;
  display: flex;
  justify-content: space-around;
  padding: 0 30px;
  margin: 0;
}
.nav-ul {
  align-items: center;
  display: flex;
  margin-left: 50%;
}
li {
  color: black;
  margin-right: 20px;
  list-style: none;
}
.logo {
  font-size: 35px;
  margin-top: 8px;
  margin-left: 10px;
  color: white;
}
