html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
body {
  background-image: url("./images/Blue\ Pink\ Gradient\ Technology\ Desktop\ Wallpaper.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
}
@media screen and (max-width: 740px) {
  body {
    background-size: cover;
    background-repeat: repeat;
  }
}
